.btn {
    font-family: "Times New Roman", Times, serif;
    background-color: #666;
    width: 450px;
    margin: 0 auto;
    border: none;
    padding: 15px 0;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.btn:hover {
    color: #000;
    cursor: pointer;
}
