.card{
    width: 450px;
    margin: 0 auto;
}
.item-details {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    padding: 15px;
  }
  
  .item-details .item-image {
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .item-details .card-body{
      padding-left: 20px;
  }

  .item-details .list-group{
      padding-left: 0px;
  }
  
  .item-details .list-group-item {
    list-style: none;
    padding: 6px;
  }
  
  .item-details .list-group-item span{
    margin-right: 5px;
  }